@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
html {
  scroll-behavior: smooth;
}

body {
  position: absolute;
  background-color: #778DA9;
  width: 100%;
  height: auto;
  margin: 0;
  padding: 0;
  color: white;
  font-family: "Roboto", sans-serif;
  font-size: 30px;
}

.hamburger-menu {
  position: fixed;
  background-color: #0d1626a8;
  height: 80px;
  width: 100%;
  z-index: 9999;
}

.hamburger-menu_hamburger {
  height: 50px;
  margin: 15px 0px 0px 15px;
}

.hamburger-menu_links {
  top: 80px;
  text-transform: uppercase;
  position: fixed;
  display: none;
  background-color: #0d1626a8;
  height: 100%;
  color: #E4A36F;
  font-size: 20px;
  /* visited link */
  /* mouse over link */
  /* selected link */
}

.hamburger-menu_links a:link {
  color: #E4A36F;
  text-decoration: none;
  padding: 20px;
}

.hamburger-menu_links a:visited {
  color: #E4A36F;
  text-decoration: none;
}

.hamburger-menu_links a:hover {
  color: #E4A36F;
  text-decoration: none;
}

.hamburger-menu_links a:active {
  color: #E4A36F;
  text-decoration: none;
}

.normal-menu {
  display: none;
}

.sections {
  width: 100%;
  height: 100vh;
}

.sections_1 {
  height: 100%;
  max-height: 100%;
  background-color: #62758a;
}

.sections_2 {
  height: 100%;
  max-height: 100%;
  background-color: #E4A36F;
}

.sections_3 {
  height: 100%;
  max-height: 100%;
  background-color: #62758a;
}

.sections_4 {
  height: 100%;
  max-height: 100%;
  background-color: #E4A36F;
}

.sections_5 {
  height: 100%;
  max-height: 100%;
  background-color: #62758a;
}

.sections_6 {
  height: 100%;
  max-height: 100%;
  background-color: #E4A36F;
}

.sections_7 {
  height: 100%;
  max-height: 100%;
  background-color: #62758a;
}

.sections_8 {
  height: 100%;
  max-height: 100%;
  background-color: #E4A36F;
}
/*# sourceMappingURL=mobile.css.map */