

@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

$base_color1: #62758a;
$base_color2: #E4A36F;
$main_font_family: 'Roboto', sans-serif;
$main_font_color: white;
$main_font_size: 30px;
$navbar_color: #0d1626a8;
$navbar_height: 80px;
$section_height: 100%;

html {
    scroll-behavior: smooth;
}

body {
    position: absolute;
    background-color: #778DA9;
    width: 100%;
    height: auto;
    margin: 0;
    padding: 0;
    color: $main_font_color;
    font-family: $main_font_family;
    font-size: $main_font_size;
}

.hamburger-menu {
    position: fixed;
    background-color: $navbar_color;
    height: $navbar_height;
    width: 100%;
    z-index: 9999;
    &_hamburger {
        height: 50px;
        margin: 15px 0px 0px 15px;
    }
    &_links {
        top: 80px;
        text-transform: uppercase;
        position: fixed;
        display: none;
        background-color: $navbar_color;
        height: 100%;
        color: #E4A36F;
        font-size: 20px;
        a:link {
            color: #E4A36F;
            text-decoration: none;
            padding: 20px;
        }
            
            /* visited link */
        a:visited {
            color: #E4A36F;
            text-decoration: none;
        }
            
            /* mouse over link */
        a:hover {
            color: #E4A36F;
            text-decoration: none;
        }
            
            /* selected link */
        a:active {
            color: #E4A36F;
            text-decoration: none;
        }
    }
}

.normal-menu {
    display: none;
}

.sections {
    width: 100%;
    height: 100vh;
    // margin-top: $navbar_height;
    
    &_1 {
        height: $section_height;
        max-height: $section_height;
        background-color: $base_color1;
    }
    &_2 {
        height: $section_height;
        max-height: $section_height;
        background-color: $base_color2;
    }
    &_3 {
        height: $section_height;
        max-height: $section_height;
        background-color: $base_color1;
    }
    &_4 {
        height: $section_height;
        max-height: $section_height;
        background-color: $base_color2;
    }
    &_5 {
        height: $section_height;
        max-height: $section_height;
        background-color: $base_color1;
    }
    &_6 {
        height: $section_height;
        max-height: $section_height;
        background-color: $base_color2;
    }
    &_7 {
        height: $section_height;
        max-height: $section_height;
        background-color: $base_color1;
    }
    &_8 {
        height: $section_height;
        max-height: $section_height;
        background-color: $base_color2;
    }
}