$navbar_color: #0d1626a8;

@media only screen and (min-width: 768px) {
  .hamburger-menu {
    display: none;
  }

  .normal-menu {
    width: 100%;
    height: 70px;
    background-color: $navbar_color;
    display: flex;
    position: fixed;
    text-transform: uppercase;
    font-size: 50%;
    align-items: center;
    justify-content: center;

    a:link {
      display: flex;
      align-items: center;
      justify-content: center;
      margin: auto;
      min-width: 10%;
      height: 40px;
      border: 1px solid #E4A36F;
      color: #E4A36F;
      text-decoration: none;
    }
      
      /* visited link */
    a:visited {
      color: #E4A36F;
      text-decoration: none;
    }
      
      /* mouse over link */
    a:hover {
      color: #E4A36F;
      text-decoration: none;
    }
      
      /* selected link */
    a:active {
      color: #E4A36F;
      text-decoration: none;
    }

  }

}