@media only screen and (min-width: 768px) {
  .hamburger-menu {
    display: none;
  }
  .normal-menu {
    width: 100%;
    height: 70px;
    background-color: #0d1626a8;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    position: fixed;
    text-transform: uppercase;
    font-size: 50%;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    /* visited link */
    /* mouse over link */
    /* selected link */
  }
  .normal-menu a:link {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin: auto;
    min-width: 10%;
    height: 40px;
    border: 1px solid #E4A36F;
    color: #E4A36F;
    text-decoration: none;
  }
  .normal-menu a:visited {
    color: #E4A36F;
    text-decoration: none;
  }
  .normal-menu a:hover {
    color: #E4A36F;
    text-decoration: none;
  }
  .normal-menu a:active {
    color: #E4A36F;
    text-decoration: none;
  }
}
/*# sourceMappingURL=styles.css.map */